<div class="card border-0 transform-on-hover">
    <a [routerLink]="'/gallery/' + category.name">
        <span class="badge rounded-pill position-absolute">{{category.imagesCount}} {{category.imagesCount < 5  ? 'fotky' : 'fotiek'}}</span>
        <img [src]="'http://api.programator.sk/images/304x295/' + category?.image?.fullpath" alt="category.name" class="card-img-top" onerror="this.src='../../assets/img.jpg';">
    </a>
    <div class="card-body">
        <h6>{{category.name | titlecase}}</h6>
    </div>
</div>