.gallery-name {
    font-size: 18px;
    margin-left: 5px;
}

img {
    height: 296px;
    width: 306px;
}

.modal-body {
    height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}