.gallery-name {
    font-size: 18px;
    margin-left: 5px;
}

img {
    height: 295px;
    width: 304px;
}

// .card-body {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
// }