<h4>Kategórie</h4>

<div class="row" *ngIf="categories">
    <div class="col-md-6 col-lg-3" *ngFor="let category of categories">
        <app-card [category]="category"></app-card>
    </div>
  
    <div class="col-md-6 col-lg-3">
      <app-add-card 
        [name]="'kategóriu'"
        [modal]="'#addCategoryModal'"
      ></app-add-card>
    </div>
  </div>
    
    <!-- Add Category Modal -->
    <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addCategoryModalLabel">Pridať kategóriu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
                  <div class="form-group">
                      <label for="name">Názov kategórie</label>
                      <input type="text" class="form-control" id="name"
                             required
                             ngModel
                             name="name"
                             #name="ngModel">
                  </div>
  
                  <br>
              
                  <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark" [disabled]="!categoryForm.form.valid" data-bs-dismiss="modal">Pridať</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>